name: Build Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25

    - name: Build
      run: ./build.sh
    - name: Test
      run: ./run_tests.sh
